[submodule "app/public/server-remote-web"]
	path = app/public/server-remote-web
	url = https://github.com/kcjonson/server-remote-web.git
[submodule "app/public/server-tasks-web"]
	path = app/public/server-tasks-web
	url = https://github.com/kcjonson/server-tasks-web.git
