
<div class='alarm' data-attach-point='_alarmNode'>
	<h2>Alarm Clock</h2>
	<div class='details'>
		<div class='time' data-attach-point='_alarmTimeNode'></div>
		<div class='status' data-attach-point='_alarmStatusNode'>
			<div class='isOn fa fa-check-square-o' data-attach-point='_alarmIsOnNode'></div>
			<div class='isRunning fa fa-refresh fa-spin' data-attach-point='_alarmIsRunningNode'></div>
		</div>
	</div>
</div>

<div class='location'>
	
</div>

<ul class='actions' data-attach-point='_actionsNode'></ul>


