<!-- <div class='background'></div>
 -->
<div class='views'></div>

<div class='notice loading'>
	Loading
</div>

<div class='footer'>
	<div class='navigation'>
    	<a class='dashboard' href='#'>
    		<span class='fa fa-tachometer'>Dashboard</span>
    	</a>
    	<a class='devices' href='#devices'>
    		<span class='fa fa-cubes'>Devices</span>
    	</a>
    	<a class='actions' href='#actions'>
    		<span class='fa fa-cogs'>Actions</span>
    	</a>
	</div>
</div>

<div class='header'>
	<h1>Home</h1>
<!-- 	<span class='user'>
		<a class='logout' href="/logout">logout</a>
		<span class='name'>{{userDisplayName}}</span>
	</span> -->
</div>
